GEMINI_API_KEY=
GIVEBUTTER_API_KEY=
GIVEBUTTER_WEBHOOK_SECRET=
NEXT_PUBLIC_APP_URL=
NEXT_PUBLIC_GIVEBUTTER_CAMPAIGN_URL=
NEXT_PUBLIC_SANITY_API_VERSION=
NEXT_PUBLIC_SANITY_DATASET=
NEXT_PUBLIC_SANITY_PROJECT_ID=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_SUPABASE_URL=
SANITY_API_READ_TOKEN=
SUPABASE_SERVICE_ROLE_KEY=